@charset "UTF-8";
/* Add your custom CSS declarations below  */

.masthead {
    background-size: cover;
    min-height: 90hv;
    position: relative;
    color: white;
}

.header {
    padding: 30px;
}

.secondsection {
    padding-top: 40px;
}

.about {
    padding: 50px;
}

.popular {
    padding-left: 100px;
    padding-top: 50px;
}

.title {
    padding-left: 30px;
}

.book_title {
    padding-top: 20px;
}

